body {
  background: rgb(143, 226, 247);
  
}
h1 {
  padding: 5px;

}
ul {
  list-style-type: none;
}

label {
  display: block;
}

input {
  display: block;
}

textarea {
  display: block;
}

.user {
  display: inline;
}